<iframe frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/live_stream?channel=UC_3biGcNq8hEPq_n8zG2OKg&amp;enablejsapi=1&amp;amp=1&amp;playsinline=1&amp;iv_load_policy=3" class="i-amphtml-fill-content" allow="autoplay;" style="width: 100%;"></iframe>
<center><p>Proxima en {{nextorder.fecha}}</p></cetner>
<ons-list>
{{#each nextorder.propuestas}}
<ons-list-item modifier="longdivider" expandable><div class="left">{{index}}</div> <div class="center">{{titulo}}</div>
<div class="expandable-content">{{propuesta}} <br/>
	<a href="http://172.10.200.66:3000{{archivo.url}}" target="_url">Ver Documento <i class="fas fa-file-pdf"></i></a><br/>
</div>
</ons-list-item>
{{/each}}
</ons-list>