<ons-card modifier="material modifier2">
<center>
<img src="http://172.10.200.66:3000{{img.medium.url}}" class="circular-img">
<div class="title">
  <h3>{{nombre}} {{apellido}}</h3>
</div>
</center>
<div class="content"  style=" background:transparent; margin-top: 30px;">
  <ons-list modifier="inset">
    <ons-list-header>Opcciones</ons-list-header>
    <ons-list-item modifier="chevron material" onclick="Ranking('{{id}}')">
      <i class="fas fa-chart-line"></i> &nbsp; Ranking
    </ons-list-item>
    <ons-list-item modifier="chevron material" onclick="Propuestas('{{id}}')">
      <i class="fas fa-paste"></i> &nbsp; Propuestas
    </ons-list-item>
    <ons-list-item modifier="chevron material" onclick="Solicitud('{{id}}')">
      <i class="fas fa-envelope-open-text"></i> &nbsp; Enviar solicitud
    </ons-list-item>
 </ons-list>
</div> 
<div class="content"  style=" background:transparent; margin-top: 30px;">
  <ons-list modifier="inset">
  <ons-list-header>Información</ons-list-header>
  <ons-list-item>Partido: {{partido}}</ons-list-item>
  <ons-list-item>Distrito: {{distrito}}</ons-list-item>
  <ons-list-item>Cargo: {{cargo}}</ons-list-item>
  <ons-list-item expandable>
      Biografía
      <div class="expandable-content justify-text">{{bio}}</div>
    </ons-list-item>
  </ons-list>
</div>
</ons-card>