<ons-list>
	<ons-list-header>Propuestas Realizadas</ons-list-header>
	<ons-list-item>
		<div class="center">
			Propuestas en proceso 
		</div>
		<div class="right">
			{{propuestas_en_proceso}} &nbsp;&nbsp;  <i class="fas fa-lightbulb"></i>
		</div>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Propuestas Aprobadas 
		</div>
		<div class="right">
			{{propuestas_aprobadas}} &nbsp;  <i class="fas fa-thumbs-up"></i>
		</div>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Propuestas Declinadas 
		</div>
		<div class="right">
			{{propuestas_declinadas}} &nbsp;  <i class="fas fa-thumbs-down"></i>
		</div>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Propuestas ante el congreso 
		</div>
		<div class="right">
			{{propuestas}} &nbsp;  <i class="fas fa-university"></i>
		</div>
	</ons-list-item>
	<ons-list-header>Peticiones Públicas por la App</ons-list-header>
	<ons-list-item>
		<div class="center">
			Peticiones recibidas 
		</div>
		<div class="right">
			{{peticiones}} &nbsp;  <i class="fas fa-fist-raised"></i>
		</div>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Peticiones respondidas 
		</div>
		<div class="right">
			{{peticiones}} &nbsp;  <i class="fas fa-heartbeat"></i>
		</div>
	</ons-list-item>
	<ons-list-item>
		<div class="center">
			Peticiones sin respuetas 
		</div>
		<div class="right">
			{{peticiones}} &nbsp;  <i class="fas fa-heart-broken"></i>
		</div>
	</ons-list-item>
</ons-list>
